<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/188/188918.png" type="image/x-icon"/>
    <title>Poke-battle</title>
</head>
<body oncontextmenu="return false" onkeydown="return false" ondragstart="return false" onselectstart="return false" onload="zzcatfishclose();">
    <script language=JavaScript> var message="";
     function clickIE4(){ if (event.button==2){ alert(message);
      return false; } } 
      function clickNS4(e){ if (document.layers||document.getElementById&&!document.all)
      { if (e.which==2||e.which==3){ alert(message); return false; } } } 
      if (document.layers){ document.captureEvents(Event.MOUSEDOWN); 
      document.onmousedown=clickNS4; } else
       if (document.all&&!document.getElementById){ document.onmousedown=clickIE4; }
        document.oncontextmenu=new Function("alert(message);return false") </script>
    <nav class="navbar navbar-center navbar">
        <div>
            <div>
                <a class="floatLeft" href="/" >Home</a></div>
            <div>
                    <a class="floatLeft" href="/cadastro" >Cadastro</a></div>
            </div>
        </div>
    </nav>
    <section class="container">
        <iframe width="1280" height="720" scrolling="no" frameborder="0" src="https://code0artuh.github.io/poke-battle/"></iframe>
     </section>
</body>
</html>